*{
    box-sizing:border-box;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;


}

html body{
    height: 100%;
    width: 100%;
}

.grid-container{
    background-image: url('./background.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-style: solid;
    border-color: black;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.34%;
    grid-template-rows: 33.33vh 33.33vh 33.34vh;
    height: 100%;
    width: 100%;
}

.grid-cells{
    background:blue;
    text-align: center;
    height: 100%;
    border-radius: 50%;
    
}
.grid-cells:hover{
    opacity: 0;   
}